(termo_site) {
  encode gzip zstd
  root * /usr/share/caddy

  route {
    handle /Termo/* {
      reverse_proxy envoy:8080
    }

    handle {
      try_files {path} /index.html
      file_server
    }
  }
}

termoonline.duckdns.org {
  import termo_site
}
